@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    font-family: "Poppins", sans-serif;
}


span{
    color:#FFBD7F;
}

h3,h2{
   font-weight:bold;
   color:#2F2105;
}

.active-item{
    color:#A0583C;
}

.tea{
    transform: translateY(-11px);
}

.menu article{
    transition: all 0.5s;
    cursor: pointer;
}

.menu article:hover{
    /* scale: 1.1; */
    background-color: #FFBD7F;
}

.menu article:hover h2{
    color: #2F2105;
}

.menu article:hover div>p{
    color: #2F2105;
}

.menu article{
    flex-shrink: 0;
    width:240px;    /*  320px  */
}

.menu::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

.menu{
    overflow-x: hidden;
    overflow-y: visible;
    transition: all 0.6s;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

}

#inner-menu{
    transition: all 0.6s;
}

.menu:hover{
    /* transform: translateX(-100px); */
}


.mini-card{
    width:250px;
    padding:15px 10px;
    background-color:#835E4C;
    border-radius: 8px;
    transition: all 0.6s;
    cursor: pointer;
    flex-shrink: 0;
}

.mini-card img{
    width:95%;
    margin:auto;
    border-radius:8px;
}

.mini-card::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

.mini-card:hover{
    background-color: #FFBD7F;
}